* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: 'Helvetica', 'sans-serif', 'Arial';
}

.title {
  font-size: 1.2em;
  font-weight: 500;
}

#header_background {
  background-color: #F3F3F3;
  width: 100%;
  height: 242px;
}

#continer {
  width: 723px;
  height: auto;
  margin: auto;
}

hr {
  height: 1px;
  background-color: #C1C1C1;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#profile {
  margin-top: -95px;
  min-height: 240px;
}

#profile #avatar {
  float: left;
}

#profile_content {
  float: right;
  min-width: 487px;
  margin-top: 20px;
}

#profile_content p {
  font-size: 1em;
  font-weight: 300;
}

#continer img {
  width: 190px;
  height: 190px;
  background-color: #C4C4C4;
  border-radius: 100px;
}

.photo_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

#show_all {
  float: right;
}

.work_photo {
  width: 228px;
  height: 226px;
  background: #C4C4C4;
  border-radius: 6px;
}

.project_photo {
  width: 228px;
  height: 278px;
  background: #C4C4C4;
  border-radius: 6px;
}

#profile_head {
  margin-top: 30px;
  column-count: 2
}

#name_container {
  text-align: left;
}

#follwer_container {
  min-width: 100px;
  text-align: right;
}

#nav {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}

.nav_item {
  padding-bottom: 4px;
  text-align: center;
}

.nav_item:first-child {
  padding-bottom: 4px;
  text-align: center;
  border-bottom: red solid 3px;
}

#nav span {
  display: inline-block;
  width: 20px;
}

#nav hr {
  height: 1px;
  margin-top: 6px;
  background-color: #C1C1C1;
  border: none;
}